/*  vivid-sky-blue: --hover-highlight: invert(77%) sepia(68%) saturate(2385%) hue-rotate(170deg) brightness(100%) contrast(103%) */

:root {
  --vivid-sky-blue: #57cbff;
  --powder-blue: #a8b2d1;
  --bg-color: #020c1b;
  --highlight: #06d6a0;
  --hover-highlight: invert(83%) sepia(51%) saturate(6228%) hue-rotate(120deg) brightness(100%) contrast(95%);
  /* --highlight: #d07be6;
  --hover-highlight: invert(59%) sepia(28%) saturate(1068%) hue-rotate(236deg) brightness(97%) contrast(85%); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--powder-blue) var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
}

#header {
  transition: top 0.3s;
}

body {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  color: var(--powder-blue);
}

section {
  max-width: 1000px;
  margin: 0 auto 75px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
}

.hero-title {
  margin: 20px 0;
  color: whitesmoke;
}

.hero-title .blue {
  animation: title-load 1500ms ease-out;
}

.hero-content {
  max-width: 450px;
}

.hero-content p {
  animation: hero-load 800ms ease-out;
}

.skills-list,
.project-list,
.primary-nav-list,
.contact-link-list {
  list-style-type: none;
}

.primary-nav-list {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 10px;
}

.primary-nav-item a:hover {
  color: var(--highlight);
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 250px;
  padding: 5px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.skills-list-item {
  max-width: 125px;
  display: flex;
  flex-direction: column;
}

.skills-list-item img {
  padding: 5px;
  aspect-ratio: 1;
}

.skills-list-item-name {
  margin-top: 10px;
  color: whitesmoke;
  font-weight: 700;
  background: linear-gradient(90deg, var(--bg-color) 0%, black 50%, var(--bg-color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: 0 80%;
}

.skills-list-item-name,
.skills-header,
.projects-header,
.contact-header {
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-header,
.projects-header,
.contact-header {
  margin: 20px 0;
  font-size: 1.8rem;
  color: whitesmoke;
}

.project {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* background-color: #051d3f; */
  border: 1px solid var(--powder-blue);
  border-radius: 1px;
  padding: 20px;
  margin: 0 10px 25px;
}

.project-name {
  color: whitesmoke;
  font-size: 1.4rem;
}

.project-description {
  margin: 20px 0;
}

.tech-list {
  /* fixes odd lining up with image below */
  /* margin-right: 2px;
  margin-bottom: 15px; */
}

.external-link-list {
  align-self: flex-end;
}

.tech-list,
.external-link-list {
  color: var(--highlight);
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.external-link {
  /* Fixes weird spacing issue when using img inside a */
  display: flex;
}

.external-link img {
  filter: invert(78%) sepia(6%) saturate(1029%) hue-rotate(191deg) brightness(109%) contrast(93%);
}

.contact {
  /* Reset margin to centered to remove space between contact & footer */
  margin: 0 auto;
  border-bottom: 1px solid var(--powder-blue);
  border-radius: 1px;
}

.contact-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-text-head {
  color: whitesmoke;
}

.contact-email {
  margin: 15px 0;
  font-size: 2rem;
}

.contact-email a:hover {
  color: var(--highlight);
  text-decoration: underline;
}

.contact-link-list {
  display: flex;
  gap: 10px;
}

.contact-link-list .external-link img {
  border: 1px solid black;
  padding: 5px;
}

.contact-left-col {
  flex: 1;
}

.contact-right-col {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  gap: 5px;
}

.blue,
.project-name:hover {
  color: var(--highlight);
}

.external-link img:hover {
  filter: var(--hover-highlight);
}

.lines {
  width: 1px;
  height: 20dvh;
  background-color: var(--powder-blue);
  position: fixed;
}

.line-1 {
  bottom: 0;
  left: 7vw;
}
.line-2 {
  bottom: 0;
  right: 7vw;
}

.scroll-down-arrow {
  position: fixed;
  filter: invert(78%) sepia(6%) saturate(1029%) hue-rotate(191deg) brightness(109%) contrast(93%);
  bottom: 15px;
  right: 15px;
}

#scroll-down-arrow {
  transition: bottom 0.25s;
}

@media (max-width: 1300px) {
  .extras {
    visibility: hidden;
  }
}

@media (max-width: 400px) {
  .contact-text-head,
  .contact-email {
    font-size: 18px;
  }
}

@keyframes hero-load {
  0% {
    transform: translateX(-300%);
    opacity: 0;
  }

  50% {
    opacity: 10%;
  }

  90% {
    opacity: 70%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes title-load {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
